/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    font-size: 24px;


    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
  }
  
  /* Links inside the navbar */
  .navbar div {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    image-rendering: optimizeQuality;


  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;

    
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar div:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content div {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content div:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
#motivate {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#search {
  float: left;
  font-size: 20px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;

  display:flex;
  align-content: stretch;
  justify-content: center;
}
#enter {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
#quote {
    float: right;
    width: 25%;
    height: 100px;
    border: solid black 3px;
}
#column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#motivate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#poems {
    float: left;
    width: 25%;
    height: 200px;
    border: solid black 3px;
}
#center_these {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#others_tab {
    display: flex;
}
#person1 {
    border: solid black 3px;
}

body{
  background-image: linear-gradient(rgb(24, 253, 81),rgba(16, 221, 160, 0.856),rgb(19, 175, 247));
}

.title {
  display: flex;
  justify-content: center;
}
#home {
  width: 50px;
  height: 50px
}
#login_tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 480px;
}
#login {
  text-decoration: none;
}
#normal_user {
  display: flex;
  flex-direction: column;
}
#therapist {
  display: flex;
  flex-direction: column;
}

#chatroom{
 color:green;
}

#logo{
  width: 50px;
  height: inherit;
}

/* #before_login{
  display: none;
} */

#after_login{
  display: block;
}

#header{
  font-family: Arial, Helvetica, sans-serif;
}
#motivate_tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
